html, body {
    height: 100vh;
    height: 100%;
}

.letter-space {
    letter-spacing: 2px;
}

.navbar-brand {
    letter-spacing: 2px;
}

.gram {
    color: #1DA1F2;
}

header {
    padding: 156px 0 100px;
}

.home-bg {
    background: url('https://images.unsplash.com/photo-1537274942065-eda9d00a6293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

section {
    padding: 150px 0 105px;
}

.a-links {
    text-decoration: none !important;
}

footer {
    padding: 50px 0 65px;
    background: #7aa5d2;
    margin-top: 20px;
}

.footer1 {
    margin-top: 0px;
}

.copyright {
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
.bodyhomepage {
    background: no-repeat center center fixed url("http://res.cloudinary.com/di5v2kyqq/image/upload/v1583948272/cloud-346710_1280_uvog8f.png");
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


