<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Outfitgram</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<nav th:fragment="navbar-links" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Outfit<span class="gram">gram</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/register">Sign Up</a>
                </li>
                <li sec:authorize ="isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/profile">[[${#authentication.name}]]</a>
                </li>
                <li sec:authorize ="isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/add-category">Add Category</a>
                </li>
                <li sec:authorize ="isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/add-item">Add Item</a>
                </li>
                <li sec:authorize ="isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/weather">Weather</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Footer -->
<footer th:fragment="footer-frag" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Outfitgram 2020</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>