<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Outfitgram | Outfit of the Day</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a6ae2d75db.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:replace="base :: navbar-links"></nav>

	<header class="bg-primary text-white">
		<div class="container text-center">
			<h1>Weather</h1>
			<p class="lead">&<br>Outfit of the day</p>
		</div>
	</header>
	<section id="weather-sec" style="margin-bottom: 100px; padding-bottom: 0">
		<div class="container jumbotron">
			<div class="row">
				<div class="col-lg-2 mx-auto" th:each="weather : ${weatherData}"}>
					<h2 th:text="${weather.getName()}"></h2><br>
					<p class="lead" th:text="${weather.getWeatherDescription()}"></p>
					<p class="lead" th:text="${weather.getTemperature()}"></p>
				</div>
			</div>
		</div>
	</section>

	<h1 class="oftd text-center" style="color: #555555;">OUTFIT OF THE DAY</h1><br>

	<div class="card-columns justify-content-center">
		<div th:each="item : ${items}">
			<div class="card border-0">
				<div class="card-block">
					<div class="hover hover-3 text-white rounded"><img class="img-fluid" th:src="${item.picture}" alt="">
						<div class="hover-overlay"></div>
						<div class="hover-3-content px-5 py-4">
							<h3 class="hover-3-title text-uppercase font-weight-bold mb-1">
								<span class="font-weight-light">
									<a th:href="@{/detail/{id}(id=${item.id})}">[[${item.name}]]</a>
								</span>
							</h3>
							<p class="hover-3-description small text-uppercase mb-0" th:text="${item.description}">></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer th:replace="base :: footer-frag"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>